.App {
  text-align: center;
  background-color: rgb(119, 203, 185);
}
h1{
  background-color: rgb(2, 43, 58);
  color:rgb(255, 0, 53);
  font-size: larger;
  font-weight: 600;
  font-family: fantasy;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.display{
  background-color: rgb(119, 203, 185);
  display: flex;
}
.card-display{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: flex-start;

}
.sidebar{
  background-color: rgb(77, 36, 61);
  position: sticky;
  top:20px

}
.cards{
  display: grid;
  grid-template-areas: "title  image"
                        "info  image"
                        "button1 button2"
                        "comment comment";
  max-width: 400px;
  background-color: rgb(162, 136, 166);
  border: 1px solid black;
  border-radius: 20px 0px 20px 20px;
  
}
#card-title{
  text-align: center;
  grid-area: title;
}
.card-img{   
  max-width: 200px;
  grid-area: image;
  

}
#card-text{
  grid-area: info;
}
#card-comments{
  grid-area: comment;
  
}
#comments-button{
  grid-area: button1;
  height: 40px;
}
#card-button{ 
  grid-area: button2;
  height: 40px;
}


.comment{
  grid-area: comment;
 border: 2px solid rgb(2, 43, 58);
 
 
}
.del-button{
  max-width: 30px;
  background-color: rgb(162, 136, 166);
  cursor: pointer;
}
.del-button:hover{
 border:2px solid red
}