.App {
  text-align: center;
  background-color: rgb(119, 203, 185);
}
header{
  background-color: rgba(2, 43, 58, 0.788);
  color:rgb(255, 0, 53);  
  font-weight: 800;
  font-family: fantasy;
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100vw;
  z-index: 5;
  text-shadow: 2px 1px 1px rgb(223, 12, 188);
  font-size: 4vh;
}
#get-all{
  background-color: slateblue;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
}
#get-last{
  background-color: slateblue;
  position: fixed;
  top: 0px;
  right: 100px;
  z-index: 6;
}
#add-new{
  background-color: slateblue;
  position: fixed;
  top: 0px;
  right: 200px;
  z-index: 6;
}
#search{
  background-color: slateblue;
  position: fixed;
  top: 0px;
  right: 310px;
  z-index: 6;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.display{
  background-color: rgb(119, 203, 185);
  min-height: 95vh;
  display: flex;
  position: relative;
  top: 5vh;
}
.card-display{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: flex-start;
 width: 90%;

}
.sidebar{
  background-color: rgb(77, 36, 61);
  min-width:200px;
  max-width: 200px;
  height: 80vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
.sidebar input{
  background-color: rgb(239, 184, 255);  
}
.sidebar input::placeholder{
  color:rgba(168, 30, 12, 0.945)
}
.gifs{
  max-width: 80px;
  max-height: 80px;
}
.cards{
  margin-top: 5%;
  display: grid;
  grid-template-areas: "title  image"
                        "info  info"
                        "button1 button2"
                        "reply-input reply-input"
                        "comment comment"
                        "com-edit-input com-edit-input";
  max-width: 400px;
  background-color: rgb(162, 136, 166);
  border: 1px solid black;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 7px 7px 5px 5px rgba(0,0,0,0.75);
  position: relative;
}
.cards:hover{
  
  box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.75);

  
}

#card-DEButtons{
  position: absolute;
  right: 0;  
  
  
}
#card-title{
  text-align: center;
  grid-area: title;
}
.card-img{   
  max-width: 200px;
  grid-area: image;
  

}
#card-text{
  grid-area: info;
}
#card-comments{
  grid-area: comment;
  
}
.comment:last-child{
  border-radius: 0 0 18px 0;
 
  
}
#comments-button{
  grid-area: button1;
  height: 40px;
  
}

#card-button{ 
  grid-area: button2;
  height: 40px;
}


.comment{
  width: 100%;
  overflow: hidden;
grid-area: comment;
 display: grid;
 grid-template-areas: "tx tx tx tx tx date edit delete"
                      "tx tx tx tx tx . . .";                               
 border: 1px solid rgb(129, 79, 136); 
                                       
  
}
.comment-dt{
  font-size: .5em;
  grid-area: date;
  color: turquoise;
  justify-self: end;
}
.edit-div{
  display: flex;

}
#edit-button{
  max-height: 40px;
  
  
}
.com-edit-input{  
  width: 220px;
  height: 100px;  
  border: 1px solid #888;   
  grid-area: tx;
  position: relative;
  overflow: hidden;
  background-color: thistle;
  
  
}
.del-button{
  max-width: 25px;
  max-height: 25px;
  cursor: pointer; 
  grid-area: delete;
  
 
}
.ed-button{
  max-width: 25px;
  max-height: 25px;
  cursor: pointer; 
  grid-area: edit;
  justify-self: end;
}
.ed-button:hover{
  border:2px solid red;
}
.del-button:hover{
 border:2px solid red;
}
#alert{
  position: fixed;
  top: 0;
  left: 0;
  height: 20vh;
}