.App {
  text-align: center;
  background-color: rgb(223, 242, 216);
}
header{
  background-color: rgba(67, 80, 88, 0.699);
  color:rgb(255, 255, 255);  
  font-weight: 800;
  font-family: monospace;
  position: fixed;
  top: 0;
  height: 7vh;
  width: 100vw;
  z-index: 5;
  text-shadow: 2px 2px 1px rgb(128, 0, 117);
  font-size: 4vh;
}
h1{
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 1px rgb(128, 0, 117);
}
#get-all{
  
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
}
#get-last{
  
  position: fixed;
  top: 0px;
  right: 100px;
  z-index: 6;
}
#add-new{
  
  position: fixed;
  top: 0px;
  left: 100px;
  z-index: 6;
}
#search{
  
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 6;  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display{
  background-color: rgb(223, 242, 216);
  min-height: 95vh;
  display: flex;
  position: relative;
  top: 5vh;
  left:200px;
}
.card-display{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 align-items: flex-start;
 width: 90%;

}
.sidebar{
  background-color: rgb(239, 123, 69);
  min-width:200px;
  max-width: 200px;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 7px 7px 5px 5px rgba(56, 14, 14, 0.75);
  position: fixed;
  top:10vh;
  left: 0;
  z-index: 6;
  overflow-y: hidden;
  overflow-x: hidden;
}
 input{
  background-color: rgb(239, 184, 255);  
  border-radius: 5px
}
  
.gifs{
  max-width: 80px;
  max-height: 80px;
  grid-area: gifs;
}
.cards{
  margin-top: 5%;
  display: grid;
  grid-template-areas: "title  image"
                        "info  info"
                        "button1 button2"
                        "reply-input reply-input"
                         "reply-box reply-box" 
                        "comment comment"                        
                        "com-edit-input com-edit-input";
  max-width: 402px;
  min-height: 200px;
  
  background-color: rgb(162, 136, 166);
  border: 1px solid black;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 7px 7px 5px 5px rgba(0,0,0,0.75);
  position: relative;
  margin-bottom: 50px;
  float: right;
}
.cards:hover{
  
  box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.75);

  
}

#card-DEButtons{
  position: absolute;
  right: 0;  
  
  
}
#card-title{
  text-align: center;
  grid-area: title;
  overflow: hidden;
  max-height: 150px;
  min-height: 150px;
  max-width: 200px;
  
}
.card-img{   
  min-width: 70%;
  max-height: 200px;
  grid-area: image;
  

}
#card-text{
  grid-area: info;
  max-height: 50px;
  min-height: 50px;  
  

}

.reply-gif{
  
}


.reply-box{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-area: reply-box;
  

}
#submit-reply{
  height: 40px;
  width: 150px;
  background-color: rgb(216, 71, 39);
}
.comment-input{
  max-height: 50px;
  max-width: 150px;
}
#card-comments{
  grid-area: comment;
  
}
.comment:last-child{
  border-radius: 0 0 18px 0;
 
  
}
#comments-button{
  grid-area: button1;
  height: 40px;
  width: 200px;
   
}

#card-button{ 
  grid-area: button2;
  height: 40px;
  width: 200px;
  border-radius: 0 0 10px 0px;
}


.comment{
  width: 100%;
  overflow: hidden;
grid-area: comment;
 display: grid;
 flex-wrap: wrap;
 grid-template-areas: "tx tx  tx tx  date edit "
                      "tx tx  tx tx  gifs delete";
                                                 
 border: 1px solid rgb(129, 79, 136); 
 grid-auto-flow: row;                                    
  
}
.comment-dt{
  font-size: .7em;
  grid-area: date;
  color: rgb(138, 214, 231);
  
  
}
#comment-text{
  background-color: rgb(163, 140, 167);
  width: 250px;
}
.edit-div{
  grid-area: tx;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
#edit-button{
  max-height: 40px;  
}
.edit-textarea{
  width: 300px;
  height: 75px;
  background-color:rgb(239, 184, 255);
}
.com-edit-input{  
  width: 220px;
  height: 100px;  
  border: 1px solid #888;   
  grid-area: tx;
  justify-self: start;
  overflow: hidden;
  background-color: thistle;
  
}
#giphy-search{
  background-color: rgb(109, 26, 54);
}
.del-button{
  max-width: 25px;
  max-height: 25px;
  cursor: pointer; 
  grid-area: delete;  
 align-self: start;;
}
.ed-button{
  max-width: 25px;
  max-height: 25px;
  cursor: pointer; 
  grid-area: edit;
  justify-self: end;
  
}
.ed-button:hover{
  border:2px solid red;
}
.del-button:hover{
 border:2px solid red;
}
#alert{
  position: fixed;
  top: 0;
  left: 0;
  height: 20vh;
}